/* .nav {
  background-color: black;
  color: white;
  height: 8vh;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.logo {
  width: 40%;
  height: 40%;
  display: flex;
}
.rightnavauth a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 20px;
}
.buttons {
  margin: 10px;
}
/* .navbar a {
  text-decoration: none;
  color: white;
} */
