.nav {
  background-color: black;
  color: white;
  height: 100px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* .rightnavbar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 20px;
} */
.logo {
  width: 25%;
  height: 25%;
  display: flex;
}
.rightnavauth a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 20px;
}
.buttons {
  margin: 10px;
}
.navbar a {
  text-decoration: none;
  color: white;
}
